*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;

}
nav{
  height: 60px;
  background-color: #006aff;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
nav a:hover{
  background-color: cornsilk;
  color: #000;

}
nav .home-link{
  margin-right: auto ;
}
#sidebar-active{
  display: none;

}
.open-sidebar-button, .close-sidebar-button{
  
  display: none;
   
}
@media(max-width:650px){
  .links-container{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: clamp(fit-content, 300px, 100%);
    background-color: #006aff;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start

  }
  .open-sidebar-button, .close-sidebar-button{
  padding: 20px;
  display: block;
   
}
#sidebar-active:checked ~ .links-container{
  display: flex;
}
}